main {
    display: flex;
    text-align: left;
}

#welcome {

    flex-grow: 1;
}

.image {
    width: auto;
    height: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    transition: 3s;
}

.image:hover {
    height: 600px;

}

/* .image-container {
    float: left;
    margin-right: 20px;
    width: 100px;
} */

/* .text-container {
    overflow: hidden;
} */